pristine: {{ roomsForm.pristine | json }}
<br />
dirty: {{ roomsForm.dirty | json }}
<br />
valid: {{ roomsForm.valid | json }}
<br />
invalid: {{ roomsForm.invalid | json }}
<br />
value: {{ roomsForm.value | json }}

<div *ngIf="successMessage !== ''" class="alert alert-success">
  {{ successMessage }}
</div>

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      name="roomType"
      placeholder="Room Type"
      [(ngModel)]="room.roomType"
      required
    />
  </div>
  <div class="mb-3">
    <input
      #roomAmenities="ngModel"
      class="form-control"
      type="text"
      name="amenities"
      placeholder="Amenities"
      [(ngModel)]="room.amenities"
      required
      minlength="5"
      maxlength="20"
    />
    <div *ngIf="roomAmenities.errors?.['minlength']" class="form-text">
      Amenities should be minimum 5 characters long
    </div>
    <div *ngIf="roomAmenities.dirty && roomAmenities.errors?.['required']">
      Please provide the amenities
    </div>
  </div>
  <div class="mb-3">
    <input
      min="250"
      max="20000"
      class="form-control"
      type="number"
      name="price"
      placeholder="Price"
      [(ngModel)]="room.price"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      name="photos"
      placeholder="Photos (provide link)"
      [(ngModel)]="room.photos"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="datetime"
      name="checkinTime"
      placeholder="Check-in time"
      [(ngModel)]="room.checkinTime"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="datetime"
      name="checkoutTime"
      placeholder="Check-out time"
      [(ngModel)]="room.checkoutTime"
      required
    />
  </div>
  <div class="mb-3">
    <input
      min="1"
      max="5"
      class="form-control"
      type="number"
      name="rating"
      placeholder="Rating"
      [(ngModel)]="room.rating"
      required
    />
  </div>
  <div>
    <button
      [disabled]="roomsForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
