<p>booking works!</p>
value: {{ bookingForm.value | json }}
<br />
pristine: {{ bookingForm.pristine | json }}
<br />
dirty: {{ bookingForm.dirty | json }}

<form class="example-form" [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Booking</mat-panel-title>
        <mat-panel-description>
          Enter booking details
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="p15"></div>

      <mat-form-field class="example-full-width">
        <mat-label>Room Id</mat-label>
        <input
          type="text"
          matInput
          formControlName="roomId"
          placeholder="Room Id"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Guest Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="guestName"
          placeholder="Guest Name"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Guest Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="guestEmail"
          placeholder="Guest Email"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input
          type="text"
          matInput
          formControlName="mobileNumber"
          placeholder="Mobile Number"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Checkin Date</mat-label>
        <input
          matInput
          [matDatepicker]="checkinPicker"
          formControlName="checkinDate"
          placeholder="MM/DD/YYYY"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="checkinPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #checkinPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Checkout Date</mat-label>
        <input
          matInput
          [matDatepicker]="checkoutPicker"
          formControlName="checkoutDate"
          placeholder="MM/DD/YYYY"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="checkoutPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #checkoutPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Booking Amount</mat-label>
        <input
          type="number"
          matInput
          formControlName="bookingAmount"
          placeholder="Booking Amount"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Booking Date</mat-label>
        <input
          matInput
          [matDatepicker]="bookingPicker"
          formControlName="bookingDate"
          placeholder="MM/DD/YYYY"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="bookingPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #bookingPicker></mat-datepicker>
      </mat-form-field>
    </mat-expansion-panel>

    <!-- <div formGroupName="address"> -->
    <mat-expansion-panel formGroupName="address">
      <mat-expansion-panel-header>
        <mat-panel-title>Address</mat-panel-title>
        <mat-panel-description>
          Enter address details
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="p15"></div>

      <mat-form-field class="example-full-width">
        <mat-label>Address Line 1</mat-label>
        <input
          type="text"
          matInput
          formControlName="addressLine1"
          placeholder="Address Line 1"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address Line 2</mat-label>
        <input
          type="text"
          matInput
          formControlName="addressLine2"
          placeholder="Address Line 2"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city" placeholder="City" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input
          type="text"
          matInput
          formControlName="state"
          placeholder="State"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input
          type="text"
          matInput
          formControlName="country"
          placeholder="Country"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Zip Code</mat-label>
        <input
          type="text"
          matInput
          formControlName="zipCode"
          placeholder="Zip Code"
        />
      </mat-form-field>
    </mat-expansion-panel>
    <!-- </div> -->
  </mat-accordion>
  <div class="p15"></div>
  <button type="submit" mat-raised-button color="primary">Book Room</button>
</form>
<!-- <mat-form-field class="example-full-width"> -->
<!--   <mat-label>Booking Status</mat-label> -->
<!--   <input -->
<!--     type="text" -->
<!--     matInput -->
<!--     formControlName="bookingStatus" -->
<!--     placeholder="Booking Status" -->
<!--   /> -->
<!-- </mat-form-field> -->

<!-- <mat-form-field class="example-full-width"> -->
<!--   <mat-label>Guest Count</mat-label> -->
<!--   <input -->
<!--     type="text" -->
<!--     matInput -->
<!--     formControlName="guestCount" -->
<!--     placeholder="Guest Count" -->
<!--   /> -->
<!-- </mat-form-field> -->
<!---->
<!-- <mat-form-field class="example-full-width"> -->
<!--   <mat-label>Guest List</mat-label> -->
<!--   <input -->
<!--     type="text" -->
<!--     matInput -->
<!--     formControlName="guestList" -->
<!--     placeholder="Guest List" -->
<!--   /> -->
<!-- </mat-form-field> -->
